/* フォント設定 */
@font-face{
    font-family: 'PixelFont12N';
    src: url('../font/PixelMplus12-Regular.ttf')
}

@font-face{
    font-family: 'PixelFont12B';
    src: url('../font/PixelMplus12-Bold.ttf')
}

@font-face{
    font-family: 'PixelFont10N';
    src: url('../font/PixelMplus10-Regular.ttf')
}

@font-face{
    font-family: 'PixelFont10B';
    src: url('../font/PixelMplus10-Bold.ttf')
}

/* 共通設定 */
*{
    margin: 0px;
    padding: 0px;
    font-size: 2ex;
}

/* デバッグ用 */
.debug{
    border: 1px solid black;
}

/* テキストの位置制御 */
.tac{
    text-align: center;
}

/* aタグのテキスト装飾の設定 */
a{
    text-decoration: none;
    color: white;
}

/* 入力フォームの設定 */
input[type='text'], textarea{
    
    /* ブラウザのデフォルトのスタイルをリセット */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

	box-sizing: border-box;
	letter-spacing: 1px;
    border: none;
    border-radius: 0;
	border-bottom: 2px solid #9fc24d;
	background: transparent;
}

input[type="text"]:focus, textarea:focus{
    border-bottom: 2px solid #003000;
    outline: none;
}

/* ヘッダ、本体、フッタの共通設定 */
body{
    max-width: 100vw;
    min-width: 720px;
    
    font-family: 'PixelFont12N';
    background-color: #003000;
    color: white;

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

header{
    height: 15ex;
    text-align: center;
}

header iframe{
    width: 100%;
    height: 15ex;

}

main{
    height: 100vh;
    padding: 5ex;
    overflow-y: auto;
}

footer{
    height: 12ex;

}

footer iframe{
    height: 12ex;
}

/* タブレット用 */
@media screen and (max-width: 959px) {
    body{
        font-family: 'PixelFont12N';
        background-color: #003000;
        color: white;
    }
}

/* スマホ用 */
@media screen and (max-width: 480px) {
    body{
        font-family: 'PixelFont12N';
        background-color: #003000;
        color: white;
    }
}