@font-face{
    font-family: 'PixelFont12N';
    src: url('../font/PixelMplus12-Regular.ttf')
}

@font-face{
    font-family: 'PixelFont12B';
    src: url('../font/PixelMplus12-Bold.ttf')
}

@font-face{
    font-family: 'PixelFont10N';
    src: url('../font/PixelMplus10-Regular.ttf')
}

@font-face{
    font-family: 'PixelFont10B';
    src: url('../font/PixelMplus10-Bold.ttf')
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    max-width: 100vw;
    min-width: 980px;
    font-family: 'PixelFont12N';
    background-color: #003000;
    color: white;
    
    overflow: hidden;
}

