.iconTable{
    display: block;
}

.iconElement{
    width: 100%;
    margin: 10px auto;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;

    border: 2px #00FF00 solid;
    background-color: #004E00;
}

.contentTable{
    table-layout: auto;
    width: 100%;
}

.contentTable td{
    vertical-align: top;
}

.contentIconElm{
    width: 20%;
}

.contentIcon{
    margin: 2px auto;
}

.contentAbstElm{
    margin: 10px;
}

.contentAbstElm *{
    box-sizing: border-box;
    font-size: 18px;
    opacity: 0.8;
    line-height: 150%;
}

.contentUpdDateTimeWrap{
    text-align: right;
}

.contentUpdDateTime{
    margin: 5px;
    font-size: 14px;
    opacity: 0.8;
}

.iconImage{
    width: 100%;
    margin: 5px auto;
}

.iconImage > img {
    width: 80px;
}

.iconTitle{
    width: 100%;
    margin: 5px auto;
    font-size: 18px;
}

form{
    width: 100%;
}

/* タブレット用 */
@media screen and (max-width: 959px) {
    .iconImage > img {
        width: 60px;
        margin: 0 -30%;
    }
    .iconTitle, .contentAbst{
        font-size: 12px;
    }
    
}

/* スマホ用 */
@media screen and (max-width: 480px) {
    .iconImage > img {
        width: 40px;
        margin: 0 -30%;
    }
    .iconTitle, .contentAbst{
        font-size: 8px;
    }
}
