
.iconTable{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.iconElement{
    width: 25%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* デバッグ用 */
    /* border: 0.5px solid red; */
}

.iconImage{
    padding: 20px 0px 5px;
}

.iconTitle{
    padding: 5px 0px 20px;
    font-size: 3.5ex;
}

/* タブレット用
@media screen and (max-width: 959px) {
} */

/* スマホ用
@media screen and (max-width: 480px) {
} */
