.window{
    border: 2px solid #9fc24d;
    background-color: #9fc24d;
}
.windowHeader{
    height: 24px;
    padding: 10px;
    font-family: 'PixelFont12B';
    font-size: 22px;
    background-color: #9fc24d;
    color: white;

    display: flex;
    justify-content: space-between;
    
    align-items: center;
}
/* .windowIcon{
} */
.windowTitle{
    width: 100%; /* 要素の横幅を指定 */
    white-space: nowrap; /* 横幅のMAXに達しても改行しない */
    overflow: hidden; /* ハミ出した部分を隠す */
    text-overflow: ellipsis; /* 「…」と省略 */
    -webkit-text-overflow: ellipsis; /* Safari */
}

/* 記事内の文字装飾の設定 */
.windowContent{
    padding: 10px;
    background-color: white;
    color: black;
}
.windowContent hr{
    border-top: 2px dashed #9fc24d;
}

.windowContent a{
    text-decoration: underline;
    color: blue;
}

/* 閉じるボタンの設定 */

.backButton{
    display: block;
    width: 36px;
    font-size: 36px;
}

/* タブレット用 */
@media screen and (max-width: 959px) {
    .window{
        font-size: 12px;
    }
    .windowHeader{
        height: 20px;
        padding: 8px;
        font-size: 18px;
    }
}

/* スマホ用 */
@media screen and (max-width: 480px) {
    .window{
        font-size: 9px;
    }
    .windowHeader{
        height: 18px;
        padding: 6px;
        font-size: 16px;
    }
}