.window{
    border: 2px solid #9fc24d;
    background-color: #9fc24d;
}
.windowHeader{
    height: 24px;
    padding: 10px;
    font-family: 'PixelFont12B';
    font-size: 22px;
    background-color: #9fc24d;
    color: white;

    display: flex;
    justify-content: space-between;
    
    align-items: center;
}
/* .windowIcon{

} */
.windowContent{
    padding: 10px;
    background-color: white;
    color: black;
}
.windowContent hr{
    border-top: 2px dashed #9fc24d;
}

.backButton{
    display: block;
    width: 36px;
    font-size: 36px;
}