/* 点線エリア設定 */
.contentArea{
    width: 950px;
}

/* 二重線エリア設定 */
.doubleBorderArea{
    width: 850px;
}

/* モード選択エリア設定 */
.eqTableArea{
    width: 850px;
}

/* モード名表示設定 */
#modeName{
    color: red;
    font-weight: 600;
}

/* 命令文の表示設定 */
#orderText{
    font-weight: 600;
    margin: 5px auto;
}

/* 旗ボタンエリアの表示設定 */
/* ここから */
.flagArea{
    width: 95%;
    height: 400px;

    justify-content: center;
    align-items: center;
    display: flex;
}

.flagButtonArea{
    width: 100%;
    height: 380px;
    box-sizing: border-box;
}

.flagButtonArea td div{
    margin: 10px;
    height: 95%;
    font-size: 30px;
    box-sizing: border-box;
    
    justify-content: center;
    align-items: center;
    display: flex;
}
/* ここまで */

/* 旗の状態を表す四角形の表示設定 */
.flagState{
    border: 2px #004E00 solid;
    background: #DDFFDD;
}