.tac{
    text-align: center;
}

.tal{
    text-align: left;
}

/* デバッグ用黒枠 */
.debug{
    border: 2px solid #000000;
}

/* タイトル */
h1{
    margin: 5px;
    text-align: center;
}

/* タイトル直下の小文字 */
h3{
    margin: 5px;
    text-align: center;
}

/* 点線で囲む */
.contentArea{
    box-sizing: border-box;
    border: 2px dashed #22AA22;
}

/* 二重線で囲む */
.doubleBorderArea{
    box-sizing: border-box;
    border: double 5px #003300;
    background-color: #DDFFDD;
}

/* 等間隔に要素が並ぶテーブル */
.eqTableArea{
    margin: 5px auto;
    table-layout: fixed;
}

/* ボタン */
.commonButton{
    margin: 2px;
    border: 2px solid #004E00;
    color: #004E00;
    background-color: #FFFFFF;
    font-weight: 600;
}

/* ボタン hover */
.commonButton:hover{
    color: #FFFFFF;
    background-color: #004E00;
}

/* 隠し要素 */
.hidden{
    display: none;
}

/* 要素の中央揃え */
.centerElem{
    margin: 5px auto;
}