*{
    margin: 5px;
}

.tac{
    text-align: center;
}

.debug{
    border: 2px solid #000000;
}

#cardArea{
    width: 180px;
    height: 240px;
    margin: 15px auto 5px;
    line-height: 240px;

    border: 2px dashed #000000;
}

#gameStateArea{
    width: 300px;
    margin: 10px auto 0;
}

.gameSttElm{
    width: 240px;
    margin: 0 auto;
}

#choice, #ratio{
    font-weight: bold;
    color: red;
}

#currentNumber{
    font-size: 5em;
    font-weight: 600;
}

#buttonArea{
    width: 50%;
    min-width: 300px;
    margin: 15px auto;

}

#buttonArea button{
    margin: 2px;
    border: 2px solid #004E00;
    color: #004E00;
    background-color: #FFFFFF;
    font-size: 70%;
    font-weight: 600;
}

#buttonArea button:hover{
    color: #FFFFFF;
    background-color: #004E00;
}

#charaBox{
    max-width: 600px;
    width: 80%;
    min-width: 300px;
    margin: 10px auto 10px;
    padding: 5px;

    border: double 8px #004E00;
    background-color: #DDFFDD;
}

#charaImage{
    max-width: 260px;
    width: 30%;
    margin: 5px auto;
}

#charaImage img{
    margin: 0;
    width: 100%;
}

.charaStatus{
    width: 100%;
    max-width: 280px;
    margin: 0 auto;
    
    /* デバッグ
    border: 1px solid #000000; */
}

.charaSttElm{
    width: 23%;
    margin: 0 auto;
    display: inline-block;
    font-size: 12px;
}

.sttTitle{
    margin-bottom: 0;
    font-weight: bold;
    font-size: 12px;
}