#fieldArea{
    width: 80%;
    min-width: 350px;
    margin: 10px auto;
}

table{
    width: 300px;
    height: 300px;
    margin: 0 auto;
    border-collapse: collapse;
}

td{
   border-collapse: collapse;
   border: 2px solid #000000;
}