header, footer{
    background-color: #99FF99;
    text-align: center;
}

main > div{
    margin: 30px;
    box-sizing: border-box;
}

#calcButton{
    text-align: center;
}

#pokeInfo{
    text-align: center;
}

.pokeStt{
    display: inline-block;
    width: 48%;
    height: 500px;
    margin: auto;
    text-align: center;

    font-size: 12px;
    vertical-align: bottom;
}

.pokeValue{
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}

.pokeValue input[type="text"]{
    width: 50px;
}

.pokeValue span{
    padding: 5px;
}

#attacker{
    background-color: #FF9999;
}

#reciever{
    background-color: #9999FF;
}

#calcResult{
    background-color: #FFFF99;
    padding: 15px;
    text-align: center;
}