.contentArea{
    margin: 5px auto;
    padding: 5px;
}

#currentColorArea{
    width: 480px;
    margin: 0 auto;
}

#puzzleGroupArea{
    margin: 0 auto;
    padding: 10px;
    width: 480px;
}

#puzzleGroupArea table{
    margin: 0 auto;
    border-spacing: 0;
    border: 1px solid #000000;
}

#puzzleGroupArea td{
    background-color: green;
    width: 60px;
    height: 60px;
    border: 1px solid #000000;
    text-align: center;
    font-size: 2.2em;
    padding: 0px;
}