a{
    text-decoration: none;
}

.contentArea{
    box-sizing: border-box;
    border: 2px dashed #22AA22;
    width: 850px;
    margin: 5px auto;
    padding: 5px;
}

.doubleBorderArea{
    box-sizing: border-box;
    border: double 5px #003300;
    background-color: #DDFFDD;
    width: 700px;
    margin: 5px auto;
    padding: 5px;
}

.toolBarArea{
	display: flex;
	justify-content: space-around;
	flex-direction: row;
}

.toolBarArea a{
	text-align: center;
	width: 30%;
}

#deckContentTable{
    width: 90%;
    margin: 5px auto;
    border-collapse: collapse;
    border: #115511 solid 2px;
}

#deckContentTable td{
    padding: 0px;

}
.deckListTable{
    width: 90%;
    margin: 5px auto;
    border: #000000 solid 2px
}

.deckCreateTable{
    width: 90%;
    margin: 5px auto;
    border-collapse: collapse;
    border: #115511 solid 2px;
}
.deckCreateTable td{
    padding: 0px;
}
.addButtonTable{
    border: none;
}

.deckNameCol{
    width: 70%;
}
.deckInfoCol{
    width: 25%;
}

.cardNameCol{
    width: 40%;
}
.cardNumCol{
    width: 10%;
}
.editButton, .removeButton{
    margin: 0px;
    padding: 5px;
    font-weight: 600;
}
.editButtonCol .commonButton, .removeButtonCol .commonButton{
    margin: 0px;
    padding: 5px;
}

.deckCreateTable .cardNameCol{
    width: 50%;
}
.deckCreateTable .cardNumCol{
    width: 15%;
}
.deckCreateTable .editButtonCol{
    width: 15%;
}
.deckCreateTable .removeButtonCol{
    width: 15%;
}

.cardName, .cardNum, .deckName, .deckMaker, .deckUpdDate, .blank{
    font-weight: 600;
    margin: 0px;
    padding: 5px;
}

.deckUpdDate{
    font-size: small;
}

.headerCol{
    background-color: #88DD88;
    border: #115511 solid 2px;
    color: #115511;
}
.pokemonCol{
    background-color: #FFAAAA;
    color: #CC2222;
    border: #CC2222 solid 2px;
}
.supportCol{
    background-color: #FFCC77;
    color: #BF5511;
    border: #BF5511 solid 2px;
}
.goodsCol{
    background-color: #BBBBFF;
    color: #3333AA;
    border: #3333AA solid 2px;
}
.stadiumCol{
    background-color: #AAFFAA;
    color: #11AA11;
    border: #11AA11 solid 2px;
}
.energyCol{
    background-color: #CCCCCC;
    color: #666666;
    border: #666666 solid 2px;
}