.contentArea{
    box-sizing: border-box;
    border: 2px dashed #22AA22;
    width: 850px;
    margin: 5px auto;
    padding: 5px;
}

.doubleBorderArea{
    box-sizing: border-box;
    border: double 5px #003300;
    background-color: #DDFFDD;
    width: 700px;
    margin: 5px auto;
    padding: 5px;
}

#userIdForm{
	display: flex;
	justify-content: space-around;
	flex-direction: row;
}

#userIdForm div{
	text-align: center;
	width: 30%;
}

/* デッキのブロック */

.deckBlockArea{
    display: flex;
}
.deckBlockArea div{
    display: inline-block;
    padding: 5px;
}
.deckTable{
    width: 100%;
}
.deckDistButtonArea{
    width: 120px;
}
.deckDistButton{
    margin: 5px;
}
.dashLine{
    border-top: dashed #003300 2px;
}
.deckDistTable{
    width: 100%;
    table-layout: fixed;

    border-collapse: collapse;
}
.pokemonCol{
    background-color: #FFAAAA;
    color: #CC2222;
}
.supportCol{
    background-color: #FFCC77;
    color: #BF5511;
}
.goodsCol{
    background-color: #BBBBFF;
    color: #3333AA;
}
.stadiumCol{
    background-color: #AAFFAA;
    color: #11AA11;
}
.energyCol{
    background-color: #CCCCCC;
    color: #666666;
}